
.header
  .header__navbar
  .header__navbar__signup
    - if user_signed_in?
      =link_to"ログアウト",destroy_user_session_path
      =link_to"top",root_path
.main
  .main__left
  .main__right
    .main__right__video
      #move
      #movebtn
        %button#play 再生
        %button#pause 一時停止
        %button#prev 1分前へ
        %button#next 1分先へ
        %button#volup 音量アップ
        %button#voldown 音量ダウン
        %button#mute ミュート
      .main__right__video__table
        %table
          %tbody
            %tr
              %th 動画名
              %td 引退します
            %tr 
              %th チャンネル名
              %td TV
            %tr
              %th 概要欄
              %td お話
.footer
  =link_to'利用規約' 