.body
  .header
    .header__navbar
    .header__navbar__signup
      - if user_signed_in?
        =link_to"ログアウト",destroy_user_session_path
        =link_to"マイページ","/users/#{current_user.id}"
      
      - else
        =link_to '新規登録', new_user_session_path
        =link_to 'ログイン', user_session_path    
    .header__navbar__category
      =link_to'カテゴリー'
  .main
    .main__search
      =form_with url:"#", local: true do |f|
        =f.text_field :keyword, placeholder:"検索する",class:"search-input"
        =f.submit '検索', class:'search-btn'
    
  .content
    .content__left
      #move
      .content__left__input
        %input{:type => "text",:id => "url",data: { persist: 'garlic' }}/
        %br/
        %input{:type => "submit", :value => "保存"}/
        %br/
    .content__right
        
  .footer
    =link_to'利用規約'