*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header{
  width: 100%;
  min-height: 82px;
  background-color: black;
}

.main{
  height: 100%;
  width: 100%;
  background-color: silver;
  &__search{
    width: 100%;
    min-height: 100px;
    .search-input{
      margin-top: 50px;
      margin-left: 200px;
      height: 60px;
      width: 60%;
    }
    .search-btn{
      height: 10vh;
      width: 5%;
    }
  }
}
.content{
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow: scroll;
  &__left{
    width: 50%;
    height: 100%;
    #move{
      margin-top: 100px;
      margin-left: 50px;
    }
    &__input{
      width: 100px;
      height: 200px;
      position: absolute;
      top: 600px;
      left: 17%;
      input{
        font-size: 10px;
        width:  200px;
        padding-bottom: 50px;
      }
    }
  }
  &__right{
    background-color: turquoise;
    width: 50%;
    &__list{
      border: solid;
      height: 100%;
      overflow: scroll;
      &__move{
        height: 50px;
        width: 100px;
      }
    }
  }
 }

.footer{
  min-height: 82px;
  padding: 60px 0;
  background-color: black;
  position:  absolute;
  width: 100%;
}